@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(55, 188, 237, 0.5);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
     }
}

@keyframes pulse-ring {
  0% {
    transform: scale(.33);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}

.controller.custom {
	background: url(assets/base.svg);
	height: 598px;
	width: 806px;
}

.custom.disconnected {
    background: url(assets/disconnected.svg);
}

.custom.disconnected div {
    display: none;
}

.custom .triggers {
    position: absolute;
    left:10px;
}

.custom .trigger {
    width: 200px;
    height: 136px;
    background: url(assets/triggers.svg);
    background-repeat: no-repeat;
}

.custom .trigger.left {
    float: left;
    background-position-x: 99px;
}

.custom .trigger.right {
    float: right;
    right: -586px;
    position: absolute;
    background-position-x: -99px;
}

.custom .bumper {
    width: 99px;
    height: 23px;
    background: url(assets/bumper.svg) no-repeat;
    opacity: 0;
}

.custom .bumpers {
    position: absolute;
    width: 588px;
    height: 23px;
    left: 109px;
    top: 94px;
}

.custom .bumper.pressed {
    opacity: 1;
}

.custom .bumper.left {
    /* -webkit-transform: rotateY(180deg); */
    /* transform: rotateY(180deg); */
    float: left;
}

.custom .bumper.right {
    float: right;
    transform: rotateY(180deg);
}

.custom .touchpad {
    width: 262px;
    height: 151px;
    position: absolute;
    left: 272px;
    top: 122px;
}

.custom .touchpad.pressed {
    background: url(assets/touchpad.svg) no-repeat center;
}

.custom .meta {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 382px;
    bottom: 216px;
}

.custom .meta.pressed {
    background: url(assets/meta.svg) no-repeat center;
}

/*Not needed, but I like keeping them here for posterity*/
/*.ds4 .quadrant{
position: absolute;
background: url(ps4-assets/player-n.svgz);
height: 17px;
width: 111px;
top: 140px;
left: 240px;
}
.ds4 .p0{
background-position: 0 -6px;
}
.ds4 .p1{
background-position: 0 -28px;
}
.ds4 .p2{
background-position: 0 -49px;
}
.ds4 .p3{
background-position: 0 -70px;
}*/
.custom .arrows {
    position: absolute;
    width: 352px;
    height: 46px;
    top: 142px;
    left: 227px;
}

.custom .back, .custom .start {
    background: url(assets/start.svg);
    width: 28px;
    height: 46px;
    opacity: 0;
}

.custom .back.pressed, .custom .start.pressed {
    /* background-position-y: -21px; */
    /* margin-top: 2px; */
    opacity: 1;
}

.custom .back {
    float: left;
    /* width: 28px; */
}

.custom .start {
    float: right;
    /* width: 28px; */
    background-position: 28px 0;
}

.custom .abxy {
    position: absolute;
    width: 170px;
    height: 171px;
    top: 159px;
    left: 567px;
}

.custom .button {
    position: absolute;
    width: 55px;
    height: 55px;
/*    background: url(assets/face.svg);
*//*    background-repeat: no-repeat;
*/}

.custom .button.pressed {
/*    background-position-y: 55px;
    color: #9356c9;
    opacity: 0.5;*/
}

/*X Button*/
.custom .a {
	position: absolute;
    background-position: 0 0;
    right: 56px;
    bottom: 0px;
    background: url(assets/button-x.svg);
}

.custom .a.pressed {
	position: absolute;
    background-position: 0 0;
    right: 56px;
    bottom: 0px;
    background: url(assets/button-x-pressed.svg);
    
    &:before{
    	animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    }
    &:after{
    	animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }

}

/*Circle*/
.custom .b {
	background: url(assets/button-circle.svg);
	width: 55px;
	height: 55px;
/*    background-position: -57px 0;
*/    top: 58px;
    right: 0px;
}
.custom .b.pressed {
	background: url(assets/button-circle-pressed.svg);
	animation: shadow-pulse 1s infinite;

}

/*Square*/
.custom .x {
	position: absolute;
	background: url(assets/button-square.svg);
    background-position: -110px 0;
    top: 58px;
}
.custom .x.pressed {
	position: absolute;
    background: url(assets/button-square-pressed.svg);
    animation: shadow-pulse 1s infinite;

}

/*Triangle*/
.custom .y {
	background: url(assets/button-triangle.svg);
    background-position: 55px 0;
    left: 58px;
}
/*Triangle*/
.custom .y.pressed {
	background: url(assets/button-triangle-pressed.svg);
	animation: shadow-pulse 1s infinite;

}

.custom .sticks {
    position: absolute;
    width: 361px;
    height: 105px;
    top: 308px;
    left: 228px;
}

.custom .stick {
    position: absolute;
    background: url(assets/stick.svg);
    height: 94px;
    width: 94px;
}

.custom .stick.pressed.gvleft {
    background-position-x: -96px;
}

.custom .stick.pressed.right {
    background-position-x: -192px;
}

.custom .stick.left {
    top: 0;
    left: 0;
}

.custom .stick.right {
    top: calc(100% - 105px);
    left: calc(100% - 105px);
}

.custom .dpad {
    position: absolute;
    width: 125px;
    height: 126px;
    top: 181px;
    left: 92px;
}

.custom .face {
/*    background: url(assets/dpad.svg);
*/    position: absolute;
}

.custom .face.up, .custom .face.down {
    width: 36px;
    height: 52px;
}

.custom .face.left, .custom .face.right {
    width: 52px;
    height: 36px;
}

.custom .face.up {
	background: url(assets/dpad-up.svg);
    left: 44px;
    top: 0;
    background-position: -37px 0px;
}

.custom .face.up.pressed {
	background: url(assets/dpad-up-pressed.svg);
    left: 44px;
    top: 0;
    background-position: -37px 0px;
    animation: shadow-pulse 1s infinite;
}

.custom .face.down {
	background: url(assets/dpad-down.svg);
    left: 44px;
    bottom: 0;
    background-position: 0px 0;
}

.custom .face.down.pressed {
	background: url(assets/dpad-down-pressed.svg);
	background-position: 0px 0;
	left: 44px;
	bottom: 0;
	animation: shadow-pulse 1s infinite;

}

.custom .face.left {
	background: url(assets/dpad-left.svg);
    top: 45px;
    left: 0;
    background-position: 104px 0;
}
.custom .face.left.pressed {
	background: url(assets/dpad-left-pressed.svg);
    top: 45px;
    left: -1px;
    background-position: 104px 0;
}

.custom .face.right {
	background: url(assets/dpad-right.svg);
    top: 45px;
    right: 0px;
    background-position: 52px 0;
}
.custom .face.right.pressed {
	background: url(assets/dpad-right-pressed.svg);
    top: 45px;
    right: 0px;
    background-position: 52px 0;
}
.custom .face.pressed {
    /* margin-top: 5px; */
/*    background-position-y: 52px;
*/}

.custom.half {
    margin-top: -300px;
}