.controller.custom {
	background: url(assets/base.svg);
	height: 598px;
	width: 806px;
}

.custom .sticks {
    position: absolute;
    width: 361px;
    height: 105px;
    top: 308px;
    left: 228px;
}

.custom .stick {
    position: absolute;
    background: url(assets/sticks.svg);
    height: 94px;
    width: 94px;
}

.custom .stick.pressed.left {
    background-position-x: -96px;
}

.custom .stick.pressed.right {
    background-position-x: -192px;
}

.custom .stick.left {
    top: 0;
    left: 0;
}

.custom .stick.right {
    top: calc(100% - 105px);
    left: calc(100% - 105px);
}