.controller.custom {
	background: url(assets/base-2.svg);
	height: 598px;
	width: 806px;
	margin-left: -392px; /* This is half of the skin's width to help center it on the screen */ 
	margin-top: -296px; /* Normally half the skin's height, but may be a little more or less 
	to account for the bar on the top of the page */
}